body { 
	padding-top: 70px;
	background-image: url("../images/Blue Audience.jpg");
	background-size: cover;
	background-attachment: fixed;

}

#jumbotron-header {
	margin-top: -70px;
	margin-bottom: 30px;
	overflow: auto;
	background-image: url("../images/Orange Audience.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	color: steelblue;
	text-shadow: 0 1px 0 white;
}

#jumbotron-twitter {
	background-image: url("../images/TwitterLogoSmall.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#jumbotron-spotify {
	background-image: url("../images/SpodifyLogo.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

/*#search {
	
	float: right;
	overflow: auto;
}*/

#recent-search-table {
	padding-bottom: 400px;
}

button {
	/*display: inline-block;
	padding: 13px !important;*/

}

#search-button {
	float: right;

	/*color: black;*/
	/*background-color: transparent;
	border: transparent;*/
	
}

#footer-spacing {
	padding: 12px;
	background-color: transparent;
}



/*.search-input[type=text] {
    width: 15%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    float: right;
}

 When the input field gets focus, change its width to 30% 
.search-input[type=text]:focus {
    width: 30%;
}*/
